* {
    margin: 0px;
    padding: 0px;
  }
  #top {
    width: 1000px;
    margin: 0 auto;
  }
  #bottom {
    width: 1000px;
    border: 1px solid black;
    margin: 0 auto;
  }
  #banner {
    width:1000px;
    margin: 0 auto;
    display: grid;
    margin: 10px 20px;
  }
  #keyword {
    width: 100%;
    height: 30px;
    border: 1px solid black;
  }
  #header2 {
    float: clear;
  }
  .header2-menu {
    float: left;
  }
  .header2-today {
    float: right;
  }
  #section {
    float: left;
    width : 700px;
  }
  #article {
    float: right;
    width:300px;
  }
  #gwanggo1 {
    height: 60px;
    width: 600px;
    clear: both;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
  }
  .newscont,.tvcont,.cafecont {
    width:700px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2em; 
    /* grip-gap : 행과 열의 간격*/
    margin: 20px 20px;
  }
  .news {
    width: 150px;
    height: 100px;
    background-color: #ddd;
    margin: 0 auto;
  }
  .news:nth-child(4) {
    grid-row: 1/3;
    /* grid-row : 줄번호 */
    grid-column: 3/5;
    /* grid-row : 줄번호 */
    width:330px;
    height : 220px;
  }
  #newstext {
    width: 100%;
    height: 100%;
  }
  .login {
    float: right;
    width: 270px;
    height: 120px;
    margin: 10px 0px 10px 5px;
    background-color: #eee;
  }
  .gwanggo2 {
    float: right;
    width: 270px;
    height: 130px;
    margin: 0px 0px 10px 5px;
    background-color: #ccc;
    text-align: center;
  }
  .shopping {
    float: right;
    width: 270px;
    height: 280px;
    margin: 0px 0px 10px 5px;
    border : 1px solid darkgray;
  }
  .market-1 {
    clear: both;
    width: 270px;
    border : 1px solid darkgray;
    background-color: white;
  }
  .market-2 {
    clear: both;
    width: 270px;
    height: 258px;
    border : 1px solid darkgray;
    background-color: white;
  }
  .login span {
    font-size: 1px;
  }
  .login span, .login div {
    margin : 10px 15px;
  }
  .login div {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
  }
  #newstag > .left {
    float: left;
  }
  #newstag > .right {
    float: right;
  }
  #newstag {
    height: 25px;
    width: 100%;
    border: 1px solid gray;
    background-color: #eee;
    display: inline-table;
  }
  .daum {
    color: darkblue ;
    font-size: 40px;
  }
  #logo {
    background-color: yellow;
    text-align: center;
  }